<div class="profile-card">
    <div class="header">
        <img id="profileURL" src="https://via.placeholder.com/100" alt="Profile Picture">
        <h2 id="displayName"></h2>
    </div>
    <div class="body">
        <h2 id="name"></h2>
        <p id="genderS"></p>
        <p id="emailS"></p>
        <p id="mobileS"></p>
        <h2 id="point"></h2>
        <div class="social-icons">
            <a href="#"><i class="fab fa-line"></i></a>
            <a href="#"><i class="fas fa-phone"></i></a>
            <a href="#"><i class="fas fa-envelope"></i></a>
        </div>

    </div>
    <div class="buttons">
        <button onclick="shareLine()">ชวนเพื่อน</button>
    </div>
</div>