<form id="registrationForm">
    <h2>Registration Form</h2>
    <label for="firstName">ชื่อ:</label>
    <input type="text" id="firstName" name="firstName">

    <label for="lastName">นามสกุล:</label>
    <input type="text" id="lastName" name="lastName">

    <label for="email">อีเมล:</label>
    <input type="text" id="email" name="email">

    <label for="mobile">เบอร์มือถือ:</label>
    <input type="text" id="mobile" name="mobile">

    <label for="age">วัน เดือน ปี เกิด:</label>
    <div class="bd-wrapper">
        <input type="number" id="day" name="day" placeholder="วัน" min="1" max="31"
            style="margin-right: 5px;">
        <input type="number" id="month" name="month" placeholder="เดือน" min="1" max="12"
            style="margin-right: 5px;">
        <input type="number" id="year" name="year" placeholder="ปี" min="1900" max="2100">
    </div>

    <label>เพศ:</label>
    <div class="gender-wrapper">
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">ชาย</label>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">หญิง</label>
    </div>

    <input type="button" id="submitButton" value="Submit" onclick="submitForm()">
</form>

<script>
    initRegister();
</script>