body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #45a049;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.loading {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #3498db;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    margin: 0 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.gender-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.bd-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.gender-wrapper input[type="radio"] {
    margin-left: 10px;
    margin-right: 5px;
}

input[type="button"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #45a049;
}

.profile-card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
}

.profile-card .header {
    background: #45a049;
    padding: 40px 20px;
}

.profile-card .header img {
    border-radius: 50%;
    border: 5px solid #fff;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.profile-card .body {
    padding: 20px;
}

.profile-card h2 {
    margin: 10px 0 5px;
}

.profile-card p {
    color: #888;
    margin: 0;
}

.profile-card .social-icons {
    margin: 20px 0;
}

.profile-card .social-icons a {
    margin: 0 10px;
    color: #45a049;
    text-decoration: none;
    font-size: 24px;
}

.profile-card .buttons {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-top: 1px solid #f4f4f4;
}

.profile-card .buttons button {
    background: #45a049;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.profile-card .buttons button:hover {
    background: #45a049;
}